body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:390px;
  top:242px;
  width:470px;
  height:288px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:288px;
}
#u1 {
  position:absolute;
  left:2px;
  top:136px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:470px;
  top:304px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:540px;
  top:352px;
  width:200px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:478px;
  top:356px;
  width:33px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:520px;
  top:455px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:640px;
  top:455px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:442px;
  top:146px;
  width:328px;
  height:44px;
  font-size:36px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:44px;
}
#u11 {
  position:absolute;
  left:0px;
  top:1px;
  width:328px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:486px;
  top:630px;
  width:240px;
  height:20px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:540px;
  top:300px;
  width:200px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:74px;
  top:60px;
  width:256px;
  height:129px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:129px;
}
#u17 {
  position:absolute;
  left:2px;
  top:56px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
