body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:643px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:450px;
  top:213px;
  width:193px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:230px;
  top:140px;
  width:163px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:360px;
  top:96px;
  width:201px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
