body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:220px;
  width:310px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:306px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:96px;
  width:141px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
