body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:269px;
  top:184px;
  width:744px;
  height:380px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:380px;
}
#u1 {
  position:absolute;
  left:2px;
  top:182px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:177px;
  width:121px;
  height:185px;
}
#u2_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u4 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u7 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  color:#009966;
}
#u9 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u10 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:20px;
  top:40px;
  width:96px;
  height:20px;
}
#u12 {
  position:absolute;
  left:22px;
  top:0px;
  width:74px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u13 {
  position:absolute;
  left:3px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
}
#u15 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u18 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u14_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u20 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u21 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u23 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u24 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u26 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u25_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:310px;
  top:210px;
  width:400px;
  height:30px;
}
#u36_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:36px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:83px;
  top:134px;
  width:31px;
  height:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:112px;
  top:140px;
  width:52px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:80px;
  top:180px;
  width:170px;
  height:380px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:380px;
}
#u51 {
  position:absolute;
  left:2px;
  top:182px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:85px;
  top:190px;
  width:137px;
  height:185px;
}
#u52_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u54 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u54_img.selected {
}
#u54.selected {
}
#u55 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u57 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u53_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#42C0FB;
}
#u59 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u60 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-size:16px;
}
#u62 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u63 {
  position:absolute;
  left:3px;
  top:1px;
  width:85px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u65 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u65_img.selected {
}
#u65.selected {
}
#u66 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u68 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u64_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u70 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u71 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u73 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u74 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:120px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u76 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u76_img.selected {
}
#u76.selected {
}
#u77 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u79 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u75_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u81 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u82 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u84 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u85 {
  position:absolute;
  left:3px;
  top:1px;
  width:65px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:317px;
  top:150px;
  width:163px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:23px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:665px;
  top:272px;
  width:53px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:410px;
  top:314px;
  width:200px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u91 {
  position:absolute;
  left:325px;
  top:319px;
  width:53px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:772px;
  top:420px;
  width:200px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94 {
  position:absolute;
  left:308px;
  top:424px;
  width:92px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:772px;
  top:368px;
  width:200px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97 {
  position:absolute;
  left:325px;
  top:369px;
  width:53px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:410px;
  top:420px;
  width:200px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:665px;
  top:424px;
  width:66px;
  height:1px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:1px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:772px;
  top:314px;
  width:200px;
  height:25px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103 {
  position:absolute;
  left:665px;
  top:319px;
  width:53px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:665px;
  top:369px;
  width:40px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:546px;
  top:510px;
  width:100px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u108 {
  position:absolute;
  left:410px;
  top:369px;
  width:200px;
  height:22px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u108_input:disabled {
  color:grayText;
}
#u109 {
  position:absolute;
  left:772px;
  top:269px;
  width:200px;
  height:22px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u109_input:disabled {
  color:grayText;
}
#u110 {
  position:absolute;
  left:410px;
  top:268px;
  width:200px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u111 {
  position:absolute;
  left:325px;
  top:272px;
  width:53px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1036px;
  top:63px;
  width:44px;
  height:40px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1080px;
  top:74px;
  width:150px;
  height:18px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u115_img.mouseOver {
}
#u115.mouseOver {
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1090px;
  top:113px;
  width:97px;
  height:120px;
}
#u117_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:103px;
  height:126px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:125px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:30px;
  width:97px;
  height:30px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:60px;
  width:97px;
  height:30px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:90px;
  width:97px;
  height:30px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:62px;
  top:51px;
  width:128px;
  height:64px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u128 {
  position:absolute;
  left:2px;
  top:24px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:180px;
  top:66px;
  width:197px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:34px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:665px;
  top:470px;
  width:79px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:772px;
  top:466px;
  width:200px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134 {
  position:absolute;
  left:90px;
  top:454px;
  width:200px;
  height:96px;
  color:#000000;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:96px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
