body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:927px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:77px;
  top:57px;
  width:846px;
  height:406px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:406px;
}
#u1 {
  position:absolute;
  left:380px;
  top:315px;
  width:100px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2 {
  position:absolute;
  left:303px;
  top:182px;
  width:417px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:85px;
  top:160px;
  width:121px;
  height:185px;
}
#u4_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u9 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u11 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u12 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:20px;
  top:40px;
  width:96px;
  height:20px;
  color:#009966;
}
#u14 {
  position:absolute;
  left:22px;
  top:0px;
  width:74px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u15 {
  position:absolute;
  left:3px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
}
#u17 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u20 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u28 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u31 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u27_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u33 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u34 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u36 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u37 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:230px;
  top:140px;
  width:163px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:159px;
  top:82px;
  width:141px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:85px;
  top:66px;
  width:56px;
  height:56px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:701px;
  top:70px;
  width:44px;
  height:40px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:750px;
  top:82px;
  width:150px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:790px;
  top:110px;
  width:97px;
  height:120px;
}
#u48_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:103px;
  height:126px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:125px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:30px;
  width:97px;
  height:30px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:60px;
  width:97px;
  height:30px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:90px;
  width:97px;
  height:30px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
