body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:242px;
  width:200px;
  height:276px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:276px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:200px;
  width:470px;
  height:330px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:330px;
}
#u3 {
  position:absolute;
  left:2px;
  top:157px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:470px;
  top:261px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:540px;
  top:352px;
  width:200px;
  height:30px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:470px;
  top:356px;
  width:33px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:520px;
  top:455px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:640px;
  top:455px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:442px;
  top:146px;
  width:328px;
  height:44px;
  font-size:36px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:44px;
}
#u13 {
  position:absolute;
  left:0px;
  top:1px;
  width:328px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:486px;
  top:630px;
  width:240px;
  height:20px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:540px;
  top:257px;
  width:200px;
  height:30px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:74px;
  top:60px;
  width:256px;
  height:129px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:129px;
}
#u19 {
  position:absolute;
  left:2px;
  top:56px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:470px;
  top:226px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:540px;
  top:297px;
  width:200px;
  height:30px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:540px;
  top:225px;
  width:200px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:470px;
  top:302px;
  width:33px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:540px;
  top:392px;
  width:200px;
  height:30px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:470px;
  top:396px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
